<div class="widget-cooperator widget">
    <h4 class="widget__title">Cooperators</h4>
    <div class="widget__content">
        <ul class="widget__list">
            <!-- First entry -->
            <li class="widget__item">
                <img src="/path/to/icon1.png" alt="Icon 1" class="widget__icon">
                <a class="widget__link" href="https://example.com/cooperator1">Cooperator 1</a>
            </li>

            <!-- Second entry -->
            <li class="widget__item">
                <img src="/path/to/icon2.png" alt="Icon 2" class="widget__icon">
                <a class="widget__link" href="https://example.com/cooperator2">Cooperator 2</a>
            </li>

            <!-- Third entry -->
            <li class="widget__item">
                <img src="/path/to/icon3.png" alt="Icon 3" class="widget__icon">
                <a class="widget__link" href="https://example.com/cooperator3">Cooperator 3</a>
            </li>
        </ul>
    </div>
</div>
